/* styles.css */
.image-container {
    position: relative;
    display: inline-block;
}

#image {
    width: 300px;
    /* 根据需要调整图片大小 */
    height: auto;
    transition: transform 0.2s;
    /* 平滑效果 */
}

/* 右上角消息框 */
.message {
    position: fixed;
    /* 固定位置 */
    top: 10px;
    /* 距离顶部10px */
    right: 10px;
    /* 距离右侧10px */

    padding: 10px;
    /* 内边距 */
    display: none;
    /* 默认不显示 */
    z-index: 1000;
    /* 确保提示文字在页面最上层 */
    border-radius: 10px;
    /* 圆角 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    // /* 阴影效果 */
}

@keyframes fadeIn {
}