	{% if page.layout == 'amp' %}
		<p></p>
	{% else %}
		<script type='text/javascript'>
			fortune = [
				'这座城市的中央计算机告诉你的？R2D2，你不该相信一台陌生的计算机！',
				'不要信赖那些大到不能扔出窗外的计算机！',
				'我终于明白‘向上兼容性’是怎么回事了。这是指我们得保留所有原有错误。',
				'2038年1月19日，凌晨3点14分07秒',
				'计算机就跟比基尼一样，省去了人们许多的胡思乱想。',
				'我们是微软。反抗是徒劳的。你会被同化的。',
				'控制复杂性是计算机编程的本质。',
				'有个老套的故事说有人希望他的计算机能像他的电话机一样好用。他的愿望实现了，因为我已经不知道该如何使用自己的电话了。',
				'你们当中很多人都知道程序员的美德。当然啦，有三种：那就是懒惰、急躁以及傲慢。',
				'就算它工作不正常也别担心。如果一切正常，你早该失业了。',
				'先解决问题再写代码。',
				'我想微软之所以把它叫做.Net，是因为这样它就不会在Unix的目录里显示出来了。',
				'好代码本身就是最好的文档。',
				'我认为全球市场约需5台计算机。',
				'That’s what’s cool about working with computers.  They don’t argue, they remember everything, and they don’t drink all your beer.',
				'The function of good software is to make the complex appear to be simple.',
				'分布式文件系统是一场残忍的骗局。',
				'长此以往，除了按键的手指外，人类的肢体将全部退化。',
				'计算机会不会思考这个问题就像问潜水艇会不会游泳一样。',
				'计算机使很多事情更容易做到，但其中大部分并不是必需。',
				'我才不管它能不能在你的机器上运行呢！我们又没装到你的机器上！',
				'每个人应该寻找适合自己的东西，做自己喜欢做的事情；做自己擅长做的事情。',
				'程序员，他们想的是什么？他们想的永远都是技术，他们崇尚的也永远都是技术。',
				'计算机软件产业最为惊人的成就，是其持续不断地放弃硬件产业的惊人成果和稳定性。',
				'那就是这些自认为痛恨计算机的人的真实面目。他们实际上真正痛恨的是糟糕的程序员。',
				'想想我们计算机程序的糟糕现状吧，很显然软件开发仍是黑箱艺术，还不能称之为工程学科。',
				'人类有史以来的所有发明中也许不包括手枪或龙舌兰酒计算机是让你犯错误最多最快的。',
				'程序员是值得尊敬的，程序员的双手是魔术师的双手，他们把枯燥无味的代码变成了丰富多彩的软件。',
				'如果大幅增加费用换来的只是性能可疑的提升，这种情况仅仅出现在赛马和女人身上才是让人可以容忍的。',
				'专利大多数都是垃圾。浪费时间去阅读这些专利是愚蠢的。只有专利持有人才会这么干，还得强迫自己才会看。',
				'不管演示在彩排的时候有多好，一旦在观众面前展示时，演示不出错的几率与观众人数成反比，与投入的金钱总额成正比。',
				'复杂性杀死一切。它把程序员的生活给搞砸了，它令产品难以规划、创建和测试，带来了安全挑战，并导致最终用户和管理员沮丧不已。',
				'如果麦当劳像软件公司那样运作的话，每一百个巨无霸就会有一个令你食物中毒，而他们的回应是，真对不起，这是一张额外附送两个的赠券。',
				'最好的程序员跟好的程序员相比可不止好那么一点点。这种好不是一个数量级的，取决于标准怎么定：概念创造性、速度、设计的独创性或者解决问题的能力。',
				'在软件可重用之前先得可使用。',
				'计算机没什么用。他们只会告诉你答案。',
				'计算机并不解决问题，它们只是执行解决方案。',
				'计算机语言设计犹如在公园里漫步。我是说侏罗纪公园。',
				'程序员的问题是你无法预料他在做什么，直到为时已晚。',
				'是人都会犯错，不过要想把事情彻底搞砸还得请电脑出马。',
				'好的程序员会用脑，但是好的向导救我们于样样都要想到。',
				'他们拥有计算机，他们也还可能拥有其他的大规模杀伤性武器。',
				'你自己的代码如果超过6个月不看，再看的时候也一样像是别人写的。',
				'计算机总是越来越智能的。科学家告诉我们说不久它们就能跟我们对话了。',
				'人呐，眼光放得长远一些，看到的东西也会多一些，生活也就会过得更有意义一点。',
				'前面90%的代码要占用开发时间的前90%。剩下的10%的代码要占用开发时间的另一90%。',
				'没有伟大的团队就没有伟大的软件，可大部分的软件团队举止就像是支离破碎的家庭。',
				'一个人静静坐在电脑面前写代码的感觉，那是什么感觉？那是武林高手闭关修炼的感觉。',
				'跟计算机工作酷就酷在这里，它们不会生气，能记住所有东西，还有，它们不会喝光你的啤酒。',
				'计算机比人类历史上的任何发明都更快速地导致你犯更多的错误-可能除了手枪和龙舌兰酒是例外。',
				'硬的怕横的，横的怕不要命的，疯子都是不要命的，所以疯子力量大，程序员只有一种，疯狂的程序员。',
				'其实你找不到错误不代表错误不存在，同样你看不到技术比你牛的人并不代表世界上没有技术比你牛的人。',
				'人们常说，伟大的科学学科就像是站在其它巨人肩膀上的巨人。人们也说过，软件产业正如站在其他侏儒脚上的侏儒。',
				'今天大部分的软件都很像上百万块砖堆叠在一起组成的埃及金字塔，缺乏结构完整性，只能靠强力和成千上万的奴隶完成。',
				'进行软件设计有两种方式。一种是让它尽量简单，让人看不出明显的不足。另一种是弄得尽量复杂，让人看不出明显的缺陷。',
				'把良好的编程风格教给那些之前曾经接触过BASIC的学生几乎是不可能的。作为可能的程序员，他们已精神残废，无重塑的可能了。',
				'在软件里面，我们鲜有有意义的需求。就算有，衡量成功的唯一尺度也取决于我们的解决方案是否解决了客户对问题是什么的观念的转变。',
				'软件供应商在努力尝试让他们的软件更\'易于操作\'迄今为止，他们最好的办法就是翻出所有的老手册，然后在封面盖上\'易于操作\'这几个字。',
				'不管那些计算机书籍如何宣称，只需记住，你并非\'傀儡\'。真正的傀儡是那些无法设计出易于使用的硬件和软件的那些人，尽管他们是技术专家，因为这是普通消费者赖以生活的东西。',
				'好的软件的作用是让复杂的东西看起来简单。',
				'计算机没有什么用处。它们唯一能做的就是告诉你答案。',
				'人的过失会带来错误，但要制造真正的灾难还得用计算机。',
				'随机数的产生实在太重要了，不能够让它由偶然性来决定。',
				'只有两种编程语言：一种是天天挨骂的，另一种是没人用的。',
				'靠代码行数来衡量开发进程就好比用重量来衡量飞机制造的进度。',
				'要是Java真的有垃圾回收的话，大部分程序在执行的时候就会把自己干掉了。',
				'在C++里你想搬起石头砸自己的脚更为困难了，不过一旦你真的做了，整条腿都要报销。',
				'永远要这样写代码，好像最终维护你代码的人是个狂暴的、知道你住在哪里的精神病患者。',
				'每一个问题都是一把锁，你要相信世界上一定有一把钥匙能打开这把锁，你也能找到这把钥匙。',
				'首先学习计算机科学及理论。接着形成自己编程的风格。然后把这一切都忘掉，尽管改程序就是了。',
				'活了一百年却只能记住30M字节是荒谬的。你知道，这比一张压缩盘还要少。人类境况正在变得日趋退化。',
				'调试难度本来就是写代码的两倍。因此，如果你写代码的时候聪明用尽，根据定义，你就没有能耐去调试它了。',
				'对程序员来说大部分的快乐是从解决问题，特别是独立解决问题中获得，而不是从这个CASE有多大，奖金有多少中获得。',
				'看上去我们已经到达了利用计算机技术可能获得的极限了，尽管下这样的结论得小心，因为不出五年这听起来就会相当愚蠢。',
				'程序员在跟宇宙赛跑，他们在努力开发出更大更好的傻瓜程序，而宇宙则努力培养出更大更好的白痴。到目前为止，宇宙领先。',
				'伟大的车工值得给他几倍于普通车工的薪水，但一个伟大的软件代码作家，其价值则要等同于一个普通的软件写手的价格的1万倍。',
			]

			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
	{% endif %}
