<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
 
    // gitalk的主要参数
        clientID: '6c85030f8c0f1da990a0',
        clientSecret: 'ab8d170c522bfe080bf113d36f513c834252a43a',
        repo: 'blog',
        owner: 'shihanmax',
        admin: ['shihanmax'],
        id: decodeURI(location.pathname),
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->