<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

<header class="c-page__header">
        <h1><span class="half_background">{{ site.description }}</span> 🚀</h1>
	{% if page.title == 'Home' %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
		<span class="u-separate"></span>
        <a href="{{ "/tags/" | prepend: site.baseurl }}">Tags</a>
        <span class="u-separate"></span>
        <a href="{{ "/timeline/" | prepend: site.baseurl }}">Timeline</a>
        <span class="u-separate"></span>
        <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    </p>
	{% else %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">&lt; Back</a>
    </p>
	{% endif %}
</header>
