// 定义颜色变量
$dark-theme-background: #1a1a1a;
$dark-theme-text: #d8d8d8;
$dark-theme-link: #58a6ff;
$dark-theme-link-hover: #81a2ff;
$dark-theme-button-bg: #4a4a4a;
$dark-theme-button-border: #333;
$dark-theme-code-bg: #282c34;
$dark-theme-header-footer-bg: #111;
$transition-time: 0.5;
$transition-effect: linear;


body {
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.3s linear, color 0.3s linear;
}

body.dark-theme {

    .c-article__main {
      color: #999999;
      opacity: 0.9;
    }

    h1,h2,h3,h4,h5,h6 {
      color: #fff;
      opacity: 0.9;

    }
    
    .c-archives__list .c-archives__item {
      border-top: 1px solid #515862; /* 设置上边框颜色为黑色 */
    }

    img {
      filter: brightness(0.8) saturate(1.25);
    }
  }

//   /* 浅色主题样式 */
body.light-theme {
  background-color: #ffffff;

  h1,h2,h3,h4,h5,h6 {
    color: #333333;
  }
  /* 其他浅色主题的样式 */
}

/* 切换按钮的基础样式 */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  // background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.theme-switch .icon {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s;
}


/* 太阳和月亮图标样式 */
.icon {
  font-size: 24px; /* 根据需要调整图标大小 */
}

.container1 {
  display: flex; /* 启用Flexbox布局 */
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between; /* 两端对齐，元素之间的间隔都相等 */
}

