{% extends "base.html" %}

{% block content %}
<section class="c-archives">
    {% for year, year_data in posts_by_year_and_collection.items() %}
        <h2 class="c-archives__year" id="{{ year }}-ref">{{ year }}</h2>
        <ul class="c-archives__list">
            {% for item in year_data.mixed_items %}
                {% if item.type == 'collection' %}
                    {# Render collection #}
                    <li class="c-archives__item c-archives__collection">
                        <div class="c-archives__collection-header" data-collection="{{ item.name }}">
                            <span class="c-archives__collection-icon">▶</span>
                            <h3 class="c-archives__collection-title">
                                {{ item.name }} <span class="c-archives__collection-count">({{ item.count }})</span>
                            </h3>
                            <p>{{ item.latest_date.strftime('%b %-d, %Y') }}</p>
                        </div>
                        <ul class="c-archives__collection-list" style="display: none;">
                            {% for post in item.posts %}
                            <li class="c-archives__collection-item">
                                <a href="{{ post.url }}" class="c-archives__collection-item-link">
                                    <h4>
                                        {{ post.title }}
                                        {% if post.display_type == 'note' %}
                                        <span class="note-tag">NOTE</span>
                                        {% endif %}
                                    </h4>
                                    <p>{{ post.date.strftime('%b %-d, %Y') }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    {# Render single post #}
                    <li class="c-archives__item">
                        <a href="{{ item.data.url }}" class="c-archives__item-link">
                            <h3>
                                {{ item.data.title }}
                                {% if item.data.display_type == 'note' %}
                                <span class="note-tag">NOTE</span>
                                {% endif %}
                            </h3>
                            <p>{{ item.data.date.strftime('%b %-d, %Y') }}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</section>
{% endblock %}