{% extends "base.html" %}

{% block content %}
<article class="c-article">
    <header class="c-article__header">
        <h1 class="c-article__title">Timeline</h1>
    </header>

    <main class="c-article__main">
        {% if posts %}
            {% for post in posts %}
                {% if loop.index == 1 or posts[loop.index-2].date.year != post.date.year %}
                    {% if loop.index > 1 %}</ul>{% endif %}
                    <h2>{{ post.date.year }}</h2>
                    <ul style="list-style: none; margin-left: 0;">
                {% endif %}
                
                <li style="margin-bottom: 0.5rem;">
                    &nbsp;&nbsp;{{ post.date.strftime('%Y-%m-%d') }}：
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        {% else %}
            <p>没有找到文章。</p>
        {% endif %}
    </main>
</article>
{% endblock %}