<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <main class="u-container">
        {{ content }}
        </main>
    </body>
    <script>
        // 获取主题切换按钮和body的引用
        const toggle = document.getElementById('theme-toggle');
        const body = document.body;
        
        // 获取主题切换复选框和图标元素
        const moonIcon = document.getElementById('theme-icon-moon');
        const sumIcon = document.getElementById('theme-icon-sun');

        // 检测系统主题偏好
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
        
        function setMoon() {
          // 设置图标为月亮图标
          moonIcon.style.display = 'block';
          sumIcon.style.display = 'none';
        }

        function setSun() {
          // 设置图标为太阳图标
          moonIcon.style.display = 'none';
          sumIcon.style.display = 'block';
        }

        // 根据系统主题偏好设置初始图标
        if (prefersDarkScheme) {
          setMoon();
        } else {
            setSum();
        }

        // 设置用户偏好的函数（可以存储在localStorage或Cookie中）
        function setUserPreference(preference) {
          // 示例：存储在localStorage中
          localStorage.setItem('themePreference', preference);
        }

        // 获取当前主题
        function getCurrentTheme() {
            // 检查body元素是否有'dark-theme'类
            if (document.body.classList.contains('dark-theme')) {
                return 'dark';
            }
            // 检查body元素是否有'light-theme'类
            else if (document.body.classList.contains('light-theme')) {
                return 'light';
            }
            // 如果没有任何主题类，根据系统偏好返回默认主题
            else {
                const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
                return prefersDarkScheme ? 'dark' : 'light';
            }
        }

        // 页面加载时设置初始主题
        function setInitialTheme() {
          const savedPreference = localStorage.getItem('themePreference');
          if (savedPreference) {
            // 如果保存了主题，则使用
            if (savedPreference === 'dark') {
                body.classList.add('dark-theme');
                body.classList.remove('light-theme');
                setSun();
            } else {
                body.classList.remove('dark-theme');
                body.classList.add('light-theme');
                setMoon();
            }
          } else {
            // 如果从未保存过主题，则使用系统默认主题
            if (prefersDarkScheme) {
                body.classList.add('dark-theme');
                body.classList.remove('light-theme');
                setSun();
            } else {
                body.classList.add('light-theme');
                body.classList.remove('dark-theme');
                setMoon();
            }
          }
        }

        // 监听主题切换
        toggle.addEventListener('change', () => {
          if (toggle.checked) {
            body.classList.add('dark-theme');
            body.classList.remove('light-theme');
            setSun();
          } else {
            body.classList.remove('dark-theme');
            body.classList.add('light-theme');
            setMoon();
          }
          // 保存用户主题偏好
          setUserPreference(toggle.checked ? 'dark' : 'light');
        });
      
        // 调用函数设置初始主题
        setInitialTheme();
      
        const curr_theme = getCurrentTheme()

        // 根据系统主题偏好设置按钮的初始状态
        toggle.checked = curr_theme === 'dark';
      </script>

</html>
