---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
	<div class="row">
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
            
            <!-- LiveRe City install code -->
            <div  class="post-container" id="lv-container" data-id="city" data-uid="MTAyMC81NjUxMS8zMjk3NA==">
                <script type="text/javascript">
                    (function(d, s) {
                        var j, e = d.getElementsByTagName(s)[0];

                        if (typeof LivereTower === 'function') { return; }

                        j = d.createElement(s);
                        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                        j.async = true;

                        e.parentNode.insertBefore(j, e);
                    })(document, 'script');
                </script>
            <noscript> Please activate JavaScript for write a comment in LiveRe</noscript>
            </div>
            <!-- completed City install code -->
	</div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}