---
layout: page
---
{% if site.toc %}
  <div class="container">  
    <div class="contents">
      <article class="markdown-body">
        {{ page.content }}
      </article>
    </div>   
    <div class="table-of-contents">
      <h2>Contents</h2>
      {% include toc.html html=content %}
    </div>
  </div>
{% else %}
  <article class="markdown-body">
    {{ page.content }}
  </article>
{% endif %}

<article class="c-article">
    <header class="c-article__header">
        <h1 class="c-article__title">{{ page.title }}</h1>
        <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </header>
    <div class="c-article__main">
        {% include toc.html html=content %}
        {{ content }}
		{% include comment.html %}
    </div>
    <footer class="c-article__footer">
        <p>
        {% for tag in page.tags %}
            <span class="c-tag">
                <a href="/tags/#{{ tag }}"> {{ tag }} </a>
            </span>
        {% endfor %}
        </p>
    </footer>
</article>
